Plugins>ATomo_Reg_Align, "Register Virtual Stack Slices_FCC", register_virtual_stack.Register_Virtual_Stack_FCC
Plugins>ATomo_Reg_Align, "Transform Virtual Stack Slices_FCC", register_virtual_stack.Transform_Virtual_Stack_FCC
Plugins>ATomo_Reg_Align, "ElasticAlignForrest", register_virtual_stack.ElasticAlignForrest
Plugins>ATomo_Reg_Align, "Register Two MultiChannel VStacks", register_virtual_stack.Register_Two_MultiChannel_VStacks
Plugins>ATomo_Reg_Align, "Register Imaging Sessions (Multiple MultiChannel VStacks)", register_virtual_stack.Register_Multiple_MultiChannel_VStacks
Plugins>ATomo_Reg_Align, "Transform Multiple VStacks", register_virtual_stack.Transform_Multiple_VStacks
Plugins>ATomo_Reg_Align, "Export TrackEM2", register_virtual_stack.Export_and_Apply_TrakEm2_Mstack_alignment_